/* REMOVE DEFAULT MARGIN AND PADDING */

* {
    margin: 0;
    padding: 0;
    user-select: text;

    font-variant-numeric: lining-nums;
    -moz-font-feature-settings:"lnum" 1; 
    -moz-font-feature-settings:"lnum=1"; 
    -ms-font-feature-settings:"lnum" 1; 
    -o-font-feature-settings:"lnum" 1; 
    -webkit-font-feature-settings:"lnum" 1; 
    font-feature-settings:"lnum" 1;

    input:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
        -webkit-text-fill-color: black; /* цвет текста */
    }
}

/* MAIN SECTION (all screen size) */

#main-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    background: white;
}


    /* rightside content section */
    #content-section{
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-content: stretch;
        align-items: center;

        width: 100%;
        height: 100%;

        margin-top: 0;
        margin-right: 0;
        background: #252525;

        font-family: 'Raleway';

        background: white;
        overflow: auto;
    }

        /* header with category name and upload & logout buttons */
        #header-frame{
            position: relative;
            display: flex;

            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: baseline;

            width: 80%;
            height: 12vh;

            letter-spacing: -0.1vh;

            border-bottom: solid 0.05vh black;
            border-spacing: 5vh;
            background: white;

            cursor: default;
        }

            #header-text{
                margin-top: 2vh;
                font-size: 7vh;
                font-weight: bold;
            }

            #header-buttons{
                position: relative;
                display: flex;
    
                flex-direction: row;
                align-content: center;
            }

                #header-button1, #header-button2{                                
                    font-size: 2.25vh;
                    font-weight: normal;

                    cursor: pointer;

                    transition: 0.25s;
                }

                #header-button1{
                    margin-right: 2vh;
                }

                #header-button1:hover, #header-button2:hover{
                    font-weight: bold;
                }
        /* frame with 3 buttons */
        #nav-frame{
            position: relative;
            display: flex;

            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 80%;
            height: 20vh;
            margin-top: 5vh;

            border-spacing: 5vh;
            background: white;
            
            cursor: default;
        }

            #nav-releases, #nav-stats, #nav-wallet{
                position: relative;
                display: flex;
    
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                align-items: flex-start;

                width: 31%;
                height: 18vh;

                font-weight: 900;
                font-size: 2.25vh;

                border-radius: 3.25vh;

                cursor: pointer;
                overflow: hidden;

                transition: 0.5s;
                background-color: #FFD502;
            }

            #nav-releases:hover, #nav-stats:hover, #nav-wallet:hover{
                background-color: #FFD502;
                width: 35%;
            }

                #nav-releases-text-frame, #nav-stats-text-frame, #nav-wallet-text-frame{
                    width: 50%;
                    position: relative;
                    display: flex;
    
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: flex-end;
                    align-items: flex-start;

                    margin-left: 3.5vh;
                    margin-top: 1vh;

                    font-size: 3vh;
                    font-weight: 900;
                }

                    #nav-release-text, #nav-stats-text, #nav-wallet-text{
                        font-size: 2vh;
                        margin-top: 8vh;
                        font-weight: normal;
                    }

                #nav-releases-img, #nav-stats-img, #nav-wallet-img{
                    width: 50%;
                    position: relative;
                    display: flex;
    
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: flex-end;
                    align-items: flex-end;
                }

                #nav-release-button1, #nav-stats-button1, #nav-wallet-button1{
                    width: 5vh;
                    height: auto;
                    margin-right: 2vh;
                    margin-top: 1vh;
                }


                #nav-release-button2, #nav-stats-button2, #nav-wallet-button2{
                    width: 7vh;
                    height: auto;
                    margin-right: 2vh;
                    margin-top: 3vh;
                }

        /* frame splitter between upper part of website and with news from db */
        #news-splitter{
            position: relative;
            display: flex;

            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: center;

            width: 80%;
            height: 10vh;

            letter-spacing: -0.1vh;

            margin-top: 5vh;
            margin-bottom: 5vh;
            border-spacing: 5vh;
            background: white;

            font-size: 7vh;
            font-weight: normal;
            text-wrap: nowrap;

            overflow: hidden;

            cursor: default;
        }

        #news-line{
            margin-top: 1.25vh;
            width: 75%;
            height: 0%;
            margin-left: 5vh;
            border-bottom: solid 0.1vh black;
        }

        /* news frame imclude every single post (items) */
        #news-frame{
            position: relative;
            display: flex;
    
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            align-items: center;
    
            width: 80%;
            height: 100%; 
    
            border-radius: 3.25vh;
            overflow: hidden;
        }

            /* style for single post */
            #news-item-frame{
                position: relative;
                display: flex;
        
                flex-direction: row;
                align-content: center;
                justify-content: space-between;
                align-items: center;
        
                width: 100%;
                height: 50vh; 

                margin-bottom: 5vh;

                border-radius: 3.25vh;
        
                background: #F6F6F6;

                user-select: none;
            }

                #news-texts-frame{
                    position: relative;
                    display: flex;
            
                    flex-direction: column;
                    align-content: center;
                    justify-content: space-around;
                    align-items: flex-start;

                    width: 60%;
                    height: 100%;

                    margin-left: 5vh;

                    font-size: 5vh;
                    font-weight: normal;
                    letter-spacing: -0.1vh;
                }
                    #news-topic{
                        line-height: 1em;
                    }

                    #news-text{
                        font-size: 2.25vh;
                        text-align: justify;

                        word-break: break-all;
                        hyphens: auto;
                    }

                    #news-date{
                        font-size: 2.25vh;
                        transition: 0.25s;
                    }

                #news-img-frame{
                    position: relative;
                    display: flex;
            
                    flex-direction: column;
                    align-content: center;
                    justify-content: space-around;
                    align-items: center;

                    width: 40%;
                    height: 100%;

                    overflow: hidden;
                }

                    #news-img{
                        width: 35vh;
                    }


/* For Mobile Resolution */
@media screen and (max-width: 1024px){

    /* leftside menu section */
    #menu-section{
        align-items: center;
        width: 10vh;
        font-size: 2.25vh;
        transition: 0.25s;
    }

            /* logo for desktop version */
            #logo-img{
                margin-top: 0;
                width: 0;
                height: 0;
            }

            /* logo for mobile version */
            #small-logo-img{
                margin-top: 5vh;
                width: auto;
                height: 6.5vh;

                pointer-events: none;
                user-select: none; 
            }

            #lnk-home, #lnk-releases, #lnk-statistics, #lnk-wallet, #lnk-support, #lnk-settings, #lnk-logout{
                margin-bottom: 1.5vh;
                margin-left: 0;
                margin-top: 1.5vh;

                font-size: 0;
                transition: 0.25s;
            }

            #lnk-home{
                margin-top: 10vh;
            }
    
            #lnk-support{
                margin-top: 30vh;
            }

            #icon-nav{
                width: 3.5vh;
                height: auto;
                margin-right: 0;
                margin-bottom: 0.5vh;
            }

            #lnk-home:hover, #lnk-releases:hover, #lnk-statistics:hover, #lnk-wallet:hover, #lnk-support:hover, #lnk-settings:hover, #lnk-logout:hover{
                margin-left: 7vh;
                border-right: solid 5vh #FFD502;

                transition: 0.5s;
            }

    /* rightside content section */
    #content-section{
        align-items: center;
        font-size: 2.25vh;
        transition: 0.25s;
    }

        #header-frame{
            height: 10vh;
        }

            #header-text{
                font-size: 5vh;
            }

            #header-button1, #header-button2{
                font-size: 0;
            }

        #nav-frame{
            height: 10%;
            margin-top: 2.5vh;
        }

            #nav-releases, #nav-stats, #nav-wallet{
                width: 8.5vh;
                height: 8.5vh;

                align-content: center;
                justify-content: center;
                align-items: center;
            }
            
                #nav-releases-img, #nav-stats-img, #nav-wallet-img{
                    justify-content: center;
                    align-items: center;

                    width: 70%;
                    height: 70%;
                }

                #nav-releases-text-frame, #nav-stats-text-frame, #nav-wallet-text-frame{
                    width: 0vh;
                    height: 0vh;
                    margin: 0;
                }

                    #nav-release-text, #nav-stats-text, #nav-wallet-text{
                        width: 0;
                        height: 0;
                        font-size: 0;
                    }

                    #nav-release-button1, #nav-stats-button1, #nav-wallet-button1{
                        width: 0;
                        height: 0;
                    }

                    #nav-release-button2, #nav-stats-button2, #nav-wallet-button2{
                        margin: 0;

                        width: 5vh;
                    }

                    #nav-wallet-button2{
                        width: 6vh;
                    }


        #news-frame{
            border-radius: 0;
        }

            #news-splitter{
                margin-top: 2.5vh;
                height: 10vh;
                font-size: 5vh;
            }


            #news-texts-frame{
                margin-left: 2.25vh;
            }

                #news-item-frame{
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: center;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0;
                    flex-direction: column;
                    height: 15vh;
                    width: 100%;
                    text-overflow: ellipsis;

                    background-color: #F6F6F6;
                }

                #news-texts-frame{
                    width: 50%;
                    margin-right: 2vh;
                }

                        #news-topic{
                            font-size: 2vh;

                            margin-left: 1vh;
                            margin-right: 1vh;
                            max-height: 25%;

                            font-weight: bold;
                            overflow: hidden;
                        }

                        #news-text{
                            width: 0;
                            height: 0;
                            font-size: 0;
                        }

                        #news-date{
                            margin-left: 1vh;
                            font-size: 1.25vh;
                        }
        
            #news-img-frame{
                width: 50%;
                height: 100%;
                border-bottom-left-radius: 50vh;    
                overflow: hidden;
                align-items: flex-end;
            }

                #news-img{
                    width: 15vh;
                }
}