/* REMOVE DEFAULT MARGIN AND PADDING */

* {
    margin: 0;
    padding: 0;
}

/* MAIN SECTION (all screen size) */

#main-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    width: 100%;
    height: 100%;
    background: #252525;
}

    /* leftside menu section */
    #menu-section{
        position: relative;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-content: space-between;

        width: 35vh;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;

        font-family: 'Raleway';
        color: rgb(185, 185, 185);
        font-size: 2.25vh;
        font-weight: normal;
        letter-spacing: -0.1vh;
        
        background: black;
        overflow: hidden;

        transition: 0.25s;
    }

        /* logo for desktop version */
        #logo-img{
            margin-top: 5vh;
            width: auto;
            height: 5vh;

            pointer-events: none;
            user-select: none;
        }

        /* logo for mobile version */
        #small-logo-img{
            margin-top: 0vh;
            width: 0;
            height: 0;

            pointer-events: none;
            user-select: none; 
        }

        #lnk-home{
            margin-top: 10vh;
        }

        #lnk-support{
            margin-top: 43vh;
        }

        #lnk-home, #lnk-releases, #lnk-statistics, #lnk-wallet, #lnk-support, #lnk-settings, #lnk-logout{
            margin-left: 3vh;
            margin-bottom: 1.5vh;

            cursor: pointer;

            transition: 0.25s;
        }

        #lnk-home:hover, #lnk-releases:hover, #lnk-statistics:hover, #lnk-wallet:hover, #lnk-support:hover, #lnk-settings:hover, #lnk-logout:hover{
            font-weight: bold;
            color: white;
            border-right: solid 2.25vh #FFD502;
        }

            #icon-nav{
                width: 3vh;
                height: auto;
                margin-right: 3vh;
                margin-bottom: 0.5vh;

                pointer-events: none;
                user-select: none;
            }

    /* rightside content section */
    #content-section{
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-content: stretch;
        align-items: center;

        width: 100%;
        height: 100vh;

        margin-top: 0;
        margin-right: 0;
        background: #252525;

        font-family: 'Raleway';

        background: white;
        overflow: hidden;
    }

        /* header with category name and upload & logout buttons */
        #header-frame{
            position: relative;
            display: flex;

            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: baseline;

            width: 80%;
            height: 12vh;

            letter-spacing: -0.1vh;

            border-bottom: solid 0.05vh black;
            border-spacing: 5vh;
            background: white;

            cursor: default;
        }

            #header-text{
                margin-top: 2vh;
                font-size: 7vh;
                font-weight: bold;
            }

            #header-buttons{
                position: relative;
                display: flex;
    
                flex-direction: row;
                align-content: center;
            }

                #header-button1, #header-button2{                                
                    font-size: 2.25vh;
                    font-weight: normal;

                    cursor: pointer;

                    transition: 0.25s;
                }

                #header-button1{
                    margin-right: 2vh;
                }

                #header-button1:hover, #header-button2:hover{
                    font-weight: bold;
                }
        /* frame with 3 buttons */
        #nav-frame{
            position: relative;
            display: flex;

            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: baseline;

            width: 80%;
            height: 25vh;

            letter-spacing: -0.1vh;

            border-bottom: solid 0.05vh black;
            border-spacing: 5vh;
            background: white;

            cursor: default;
            background: wheat;
        }

        /* frame splitter between upper part of website and with news from db */
        #news-splitter{
            position: relative;
            display: flex;

            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: baseline;

            width: 80%;
            height: 10vh;

            letter-spacing: -0.1vh;

            border-spacing: 5vh;
            background: white;

            cursor: default;
            background: #FFD502;
        }


/* For Mobile Resolution */
@media screen and (max-width: 1024px){

    /* leftside menu section */
    #menu-section{
        align-items: center;
        width: 10vh;
        font-size: 2.25vh;
        transition: 0.25s;
    }

            /* logo for desktop version */
            #logo-img{
                margin-top: 0;
                width: 0;
                height: 0;
            }

            /* logo for mobile version */
            #small-logo-img{
                margin-top: 5vh;
                width: auto;
                height: 6.5vh;

                pointer-events: none;
                user-select: none; 
            }

            #lnk-home, #lnk-releases, #lnk-statistics, #lnk-wallet, #lnk-support, #lnk-settings, #lnk-logout{
                margin-bottom: 1.5vh;
                margin-left: 0;
                margin-top: 1.5vh;

                font-size: 0;
                transition: 0.25s;
            }

            #lnk-home{
                margin-top: 10vh;
            }
    
            #lnk-support{
                margin-top: 30vh;
            }

            #icon-nav{
                width: 3.5vh;
                height: auto;
                margin-right: 0;
                margin-bottom: 0.5vh;
            }

            #lnk-home:hover, #lnk-releases:hover, #lnk-statistics:hover, #lnk-wallet:hover, #lnk-support:hover, #lnk-settings:hover, #lnk-logout:hover{
                margin-left: 7vh;
                border-right: solid 5vh #FFD502;

                transition: 0.5s;
            }
}