    /* leftside menu section */
    #menu-section{
        position:sticky;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-content: space-between;

        width: 30vh;
        height: 100vh;
        margin-top: 0;
        margin-left: 0;
        top: 0;

        font-family: 'Raleway';
        color: rgb(185, 185, 185);
        font-size: 2.25vh;
        font-weight: normal;
        letter-spacing: -0.1vh;
        
        background: black;
        overflow: hidden;

        transition: 0.25s;
    }

        /* logo for desktop version */
        #logo-img{
            margin-top: 5vh;
            width: auto;
            height: 5vh;

            pointer-events: none;
            user-select: none;
        }

        /* logo for mobile version */
        #small-logo-img{
            margin-top: 0vh;
            width: 0;
            height: 0;

            pointer-events: none;
            user-select: none; 
        }

        #lnk-home{
            margin-top: 10vh;
        }

        #lnk-support{
            margin-top: 43vh;
        }

        #lnk-home, #lnk-releases, #lnk-statistics, #lnk-wallet, #lnk-support, #lnk-settings, #lnk-logout{
            margin-left: 3vh;
            margin-bottom: 1.5vh;

            cursor: pointer;

            transition: 0.25s;
        }

        #lnk-home:hover, #lnk-releases:hover, #lnk-statistics:hover, #lnk-wallet:hover, #lnk-support:hover, #lnk-settings:hover, #lnk-logout:hover{
            font-weight: bold;
            color: white;
            border-right: solid 2.25vh #FFD502;
        }

            #icon-nav{
                width: 3vh;
                height: auto;
                margin-right: 3vh;
                margin-bottom: 0.5vh;

                pointer-events: none;
                user-select: none;
            }