/* header with category name and upload & logout buttons */
#header-frame{
    position: relative;
    display: flex;

    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;

    width: 80%;
    height: 12vh;

    letter-spacing: -0.1vh;

    border-bottom: solid 0.05vh black;
    border-spacing: 5vh;
    background: white;

    cursor: default;
}

    /* header with category name */
    #header-text{
        margin-top: 2vh;
        font-size: 7vh;
        font-weight: bold;
    }

    #header-buttons{
        position: relative;
        display: flex;

        flex-direction: row;
        align-content: center;
    }

        #header-button1, #header-button2{                                
            font-size: 2.25vh;
            font-weight: normal;

            cursor: pointer;

            transition: 0.25s;
        }

        #header-button1{
            margin-right: 2vh;
        }

        #header-button1:hover, #header-button2:hover{
            font-weight: bold;
        }

        #navbar {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            height: 4vh;
            margin-top: 5vh;
            border-radius: 15vh;
            border: solid 0.05vh black;
            overflow: hidden;
        }

        .navbar #nav-anim {
            width: 10%;
            transition: all .5s ease 0s;
        }
        
        
        .menu-item {
            font-size: 15px;
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            line-height: 4vh;
            position: relative;
            z-index: 1;
            text-align: center;
            flex-grow: 1;
            cursor: pointer;
            position: relative;
        }
        
        .menu-item::before {
            content: '';
            display: inline-block;
            width: 10vh;
        }
        
        .menu-item::after {
            content: '';
            display: inline-block;
            width: 10vh;
        }
        
        .animation {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
            background: black;
            border-radius: 15vh;
            transition: all .5s ease 0s;
        }
        
        .menu-item.active {
            color: white;
            font-weight: bold; /* Жирный текст */
        }
        
        .menu-item.active ~ .animation {
            width: 15%;
        }
        
        #no-filter, #moderation, #new-release, #drafts, #on-delete {
            z-index: 2;
            cursor: pointer;
            color: black;
        }
        
        #no-filter.active, #moderation.active, #new-release.active, #drafts.active, #on-delete.active {
            color: white;
            font-weight: bold;
            z-index: 2;
            cursor: pointer;
        }
            
            


/* For Mobile Resolution */
@media screen and (max-width: 1024px){

/* rightside content section */
#content-section{
    align-items: center;
    font-size: 2.25vh;
    transition: 0.25s;
}

    /* header with category name */
    #header-frame{
        height: 10vh;
    }

        #header-text{
            font-size: 5vh;
        }

        #header-button1, #header-button2{
            font-size: 0;
        }
}
