{% extends 'home/layout.html' %}
{% load static %}

<!-- leftside menu section -->
    {% block menu-section %}
            <section id="menu-section">
                <img id="logo-img"src="{% static 'home/img/logoText.svg' %}" alt="Image"></img>
                <img id="small-logo-img"src="{% static 'home/img/logoSmall.svg' %}" alt="Image"></img>

                <div id="lnk-home"><img id="icon-nav" src="{% static 'home/img/icoHome.svg' %}"></img>Home</div>
                <div id="lnk-releases"><img id="icon-nav" src="{% static 'home/img/icoMusic.svg' %}"></img>Releases</div>
                <div id="lnk-statistics"><img id="icon-nav" src="{% static 'home/img/icoStats.svg' %}"></img>Statistics</div>
                <div id="lnk-wallet"><img id="icon-nav" src="{% static 'home/img/icoMoney.svg' %}"></img>Wallet</div>

                <div id="lnk-support"><img id="icon-nav" src="{% static 'home/img/icoHelp.svg' %}"></img>Support</div>
                <div id="lnk-settings"><img id="icon-nav" src="{% static 'home/img/icoSettings.svg' %}"></img>Settings</div>
                <div id="lnk-logout"><img id="icon-nav" src="{% static 'home/img/icoLogout.svg' %}"></img>Logout</div>
            </section>
    {% endblock %}


<!-- rightside content section -->
    {% block homepage-section %}
        <section id="content-section">

            <!-- header with selected category on leftside and button upload & logout on rightside -->
            <div id="header-frame">
                <div id="header-text">Home</div>

                <div id="header-buttons">
                    <div id="header-button1">Upload</div>
                    <div id="header-button2">Logout</div>
                </div>

            </div>

            <!-- navigation big plates on middle of the screen -->
            <div id="nav-frame">
                
                <!-- first plate: releases -->
                <div id="nav-releases">
                    <div id="nav-release-title">RELEASES</div>
                    <div id="nav-release-text">List of your releases</div>
                    <img id="nav-release-button" src="{% static 'home/img/homeArrow.svg' %}"></img>
                    <img id="nav-release-button" src="{% static 'home/img/homeReleases.svg' %}"></img>
                </div>

                <!-- second plate: statistics -->
                <div id="nav-stats">
                    <div id="nav-release-title">STATISTICS</div>
                    <div id="nav-release-text">Dashboard with release statsist</div>
                    <img id="nav-release-button" src="{% static 'home/img/homeArrow.svg' %}"></img>
                    <img id="nav-release-button" src="{% static 'home/img/homeStats.svg' %}"></img>
                </div>

                <!-- third plate: wallet -->
                <div id="nav-wallet">
                    <div id="nav-release-title">WALLET</div>
                    <div id="nav-release-text">Watch your profit</div>
                    <img id="nav-release-button" src="{% static 'home/img/homeArrow.svg' %}"></img>
                    <img id="nav-release-button" src="{% static 'home/img/homeWallet.svg' %}"></img>
                </div>

            </div>

            <!-- last news category splitter with long line -->
            <div id="news-splitter">
                <div id="news-text">Last news</div>
                <img id="news-line" src="{% static 'home/img/homeLine.svg' %}"></img>
            </div>

        </section>
    {% endblock %}