{% extends 'home/layout.html' %}
{% load static %}

<!-- leftside menu section -->
    {% block menu-section %}
            <section id="menu-section">
                <img id="logo-img"src="{% static 'home/img/logoText.svg' %}" alt="Image"></img>
                <img id="small-logo-img"src="{% static 'home/img/logoSmall.svg' %}" alt="Image"></img>

                <div id="lnk-home"><img id="icon-nav" src="{% static 'home/img/icoHome.svg' %}"></img>Home</div>
                <div id="lnk-releases"><img id="icon-nav" src="{% static 'home/img/icoMusic.svg' %}"></img>Releases</div>
                <div id="lnk-statistics"><img id="icon-nav" src="{% static 'home/img/icoStats.svg' %}"></img>Statistics</div>
                <div id="lnk-wallet"><img id="icon-nav" src="{% static 'home/img/icoMoney.svg' %}"></img>Wallet</div>

                <div id="lnk-support"><img id="icon-nav" src="{% static 'home/img/icoHelp.svg' %}"></img>Support</div>
                <div id="lnk-settings"><img id="icon-nav" src="{% static 'home/img/icoSettings.svg' %}"></img>Settings</div>
                <div id="lnk-logout"><img id="icon-nav" src="{% static 'home/img/icoLogout.svg' %}"></img>Logout</div>
            </section>
    {% endblock %}


<!-- rightside content section -->
    {% block homepage-section %}
        <section id="content-section">

            <!-- header with selected category on leftside and button upload & logout on rightside -->
            <div id="header-frame">
                <div id="header-text">Home</div>

                <div id="header-buttons">
                    <div id="header-button1">Upload</div>
                    <div id="header-button2">Logout</div>
                </div>

            </div>

            <!-- navigation big plates on middle of the screen -->
            <div id="nav-frame">
                
                <!-- first plate: releases : 2 parts with imgs and text-->
                <div id="nav-releases">

                    <!-- 1 part: text -->
                    <div id="nav-releases-text-frame">
                        <div id="nav-release-title">RELEASES</div>
                        <div id="nav-release-text">Releases list</div>
                    </div>

                    <!-- 2 part: imgs -->
                    <div id="nav-releases-img">
                        <img id="nav-release-button1" src="{% static 'home/img/homeArrow.svg' %}"></img>
                        <img id="nav-release-button2" src="{% static 'home/img/homeReleases.svg' %}"></img>
                    </div>

                </div>

                <!-- second plate: statistics -->
                <div id="nav-stats">

                    <!-- 1 part: text -->
                    <div id="nav-stats-text-frame">
                        <div id="nav-stats-title">STATISTICS</div>
                        <div id="nav-stats-text">Release statsist</div>
                    </div>

                    <!-- 2 part: imgs -->
                    <div id="nav-stats-img">
                        <img id="nav-stats-button1" src="{% static 'home/img/homeArrow.svg' %}"></img>
                        <img id="nav-stats-button2" src="{% static 'home/img/homeStats.svg' %}"></img>
                    </div>

                </div>

                <!-- third plate: wallet -->
                <div id="nav-wallet">
                    
                    <!-- 1 part: text -->
                    <div id="nav-wallet-text-frame">
                        <div id="nav-wallet-title">WALLET</div>
                        <div id="nav-wallet-text">Profit & payement</div>
                    </div>

                    <!-- 2 part: imgs -->
                    <div id="nav-wallet-img">
                        <img id="nav-wallet-button1" src="{% static 'home/img/homeArrow.svg' %}"></img>
                        <img id="nav-wallet-button2" src="{% static 'home/img/homeWallet.svg' %}"></img>
                    </div>

                </div>

            </div>

            <!-- last news category splitter with long line -->
            <div id="news-splitter">
                <div id="news-splitter-text">Last news</div>
                <div id="news-line"></div>
            </div>

            <!-- news content -->
            <div id="news-frame">
                <!-- news items frame -->
                {% for el in news %}
                <dev id="news-item-frame">

                    <!-- single item frame to render text + img-->
                    <div id="news-texts-frame">
                        <div id="news-topic">{{el.title}}</div>
                        <div id="news-text">{{el.full_text}}</div>
                        <div id="news-date">{{el.date}}</div>
                    </div>

                    <div id="news-img-frame">
                        <img src="{% static 'home/img/newsCover.svg' %}" id="news-img"></img>
                    </div>
                </dev>
                {% endfor %}
                
            </div>
        </section>
    {% endblock %}