{% load static %}
<link rel="stylesheet" href="{% static 'home/css/new-release.css' %}">

<section id="new-release-section">
    
    
    <!-- leftside with indicators -->
    <section id="leftSide">
        <div id="progress-bar-bg">
            <div id="progress-bar-fill">
                
            </div>
        </div>
        <div id="indicator">
            <div id="indText1">Field info</div>
            <div id="indText2">Upload files</div>
            <div id="indText3">Confirm</div>
        </div>
    </section>

    <!-- rightside with content -->
    <section id="rightSide">
        <form method="post" id="form-first">
            {% csrf_token %}
            <span>{{ error }}</span>
            {{ form.releaseName }}
            {{ form.artistName }}
            {{ form.releaseGenre }}
            {{ form.releaseType }}
            {{ form.artistLink }}
            {{ form.releaseUPC }}
            {{ form.releaseDate }}
            {{ form.artistRealName }}
            {{ form.eclipticContent }}        
            <button href="" id="button-next" type="submit">Next step</button>
            <button href="" id="button-clear" type="reset">Clear</button>
        </form>

    </section>
<section>

